h1{
    text-align: center;
}
.container{
    background-color: darkblue;
    color: rgb(51, 201, 31);
    border: 5px solid rgb(3, 3, 17);
    height: 430px;
    width: 300px;
    position: absolute;
    left: 550px;
}
.num1,.num,.num2{
    background-color:greenyellow;
    color: darkred;
    font-size: large;
    width: 50px;
    height: 50px;
    margin: 10px;
}
    
#res{
    width: 260px;
    height: 30px;
    margin: 15px;
    font-size: 20px;
    background-color: rgb(0, 255, 34);
    color: rgb(17, 18, 19);
}
.clr{
    background-color: peachpuff;
}
.equal{
    background-color: silver;
}

@media (width <800px) {
    .container {
            background-color: darkblue;
            color: rgb(10, 230, 46);
            border: 5px solid rgb(3, 3, 17);
            height: 430px;
            width: 300px;
            position: absolute;
            left: 190px;
        }
        h1{
            text-align: center;
        }
    }